*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 125px;
    height: 60px;
}
.header-input{
    width: 80%;
    height: 28px;
    border: none;
    outline: none;
}
.header-input::placeholder{
    margin-left: 2px;
    opacity: 0.8;
}
.sign-b{
    color: rgb(255, 255, 255);
    background-color: rgb(248, 68, 100);
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    width: 67px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgb(248, 68, 100);
    display: block;
}
.banner2{
    background: rgb(245, 245, 245)  
}
.banner3{
    color: white;
    background-color: rgb(43,49,72);
}
.text1{
    font-size: 12px;
    text-align: center;
}
.carousel{
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 5px;
    padding-bottom: 28px;
    background-color: rgb(235, 235, 235)
}
.prevbtn{
    background-color: rgb(55, 55, 55);
    margin-left: -190px;
    border-radius: 50%;
}
.nextbtn{
    background-color: rgb(55, 55, 55);
    margin-right: -190px;
    border-radius: 50%;
}